/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #515357;
}

p, h1, h2, h3, h4, h5, h6, span, div {
    color:white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.component-box {
    padding: 10px;
    display: inline-block;
    margin: 5px;
    cursor:pointer;
    color:black;
}

.buildsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.build {
    cursor: pointer;
    margin: 4em;
    padding: 1em;
    width: 290px;
    height: 370px;
    display: grid;
    background-color: #b18c5a;
}

.buildName {
    text-align: center;
    font-weight: bold;
}

.buildDescription {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    display: block;
}

.buildImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
}

.build:hover {
    transform: scale(1.1);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

a.buildPage {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

    a.buildPage:hover {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }

.a-btn {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    background-color: #2c85c5;
    color: white;
    border-color: #2c85c5;
    font-size: 2.125rem;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 0.5rem 0.875rem;
}

.a-btn:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.navbar-inverse {
    background-color: #191b2b;
    border-color: #080808;
}

.account {
    color: black;    
}

.account > span{
    font-size:larger;
}

select {
    height: 2em;
    color:black;
}

textarea{
    color:black;
}

.userTextInput {
    color:black;
}