
@{
    ViewData["Title"] = "BrowseComponents";
}

<h2>Browse Components</h2>
<div class="component-box"><a asp-area="Component" asp-controller="Cpus" asp-action="Index">CPUs</a></div>
<div class="component-box"><a asp-area="Component" asp-controller="Gpus" asp-action="Index">GPUs</a></div>
<div class="component-box"><a asp-area="Component" asp-controller="Cases" asp-action="Index">Cases</a></div>
<div class="component-box"><a asp-area="Component" asp-controller="Motherboards" asp-action="Index">Motherboards</a></div>
<div class="component-box"><a asp-area="Component" asp-controller="MemoryOptions" asp-action="Index">Memory</a></div>
<div class="component-box"><a asp-area="Component" asp-controller="StorageOptions" asp-action="Index">Storage</a></div>
