@{
    ViewData["Title"] = "Home Page";
}

<h3>PcPartPicker</h3>
<div>
    <p>PcPartPicker is an application which allows users to browse through a list of computer parts submitted by manfucaturers and create their own builds.</p>
</div>