@model PcPartPicker.Models.Models.SystemBuild

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SystemBuild</h4>
<hr />
<div class="row">
    <div class="col-md-4">        
        <form asp-action="Create">
            <div class="form-group">
                <span>Name: </span>
                <input type="text" asp-for="Name"/>
            </div>
            <div class="form-group">
                <span>Choose a Cpu: </span><select asp-for="Cpu" id="cpuList" name="cpus" onchange="choosePart(this)"><option>Select a cpu</option></select>
                <div id="chosencpu">
                </div>
            </div>
            <div class="form-group">
                <span>Choose a Case: </span><select id="caseList" name="cases" onchange="choosePart(this)"><option>Select a case</option></select>
                <div id="chosencase"></div>
            </div>
            <div class="form-group">
                <span>Choose a Gpu: </span><select id="gpuList" name="gpus" onchange="choosePart(this)"><option>Select a gpu</option></select>
                <div id="chosengpu"></div>
            </div>
            <div class="form-group">
                <span>Choose a Motherboard: </span><select id="motherboardList" name="motherboards" onchange="choosePart(this)"><option>Select a motherboard</option></select>
                <div id="chosenmotherboard"></div>
            </div>
            <div class="form-group">
                <span>Choose a storage option: </span><select id="storageoptionList" name="storageoptions" onchange="choosePart(this)"><option>Select a storage option</option></select>
                <div id="chosenstorageoption"></div>
            </div>
            <div class="form-group">
                <span>Choose a memory option: </span><select id="memoryoptionList" name="memoryoptions" onchange="choosePart(this)"><option>Select a memory option</option></select>
                <div id="chosenmemoryoption"></div>
            </div>
            <div>Total Price: $<span id="price">0</span></div>
            <input type="hidden" id="totalPrice" asp-for="Price" />
            <div class="form-group">
                <span>Description: </span>
                <textarea asp-for="Description"></textarea>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<script src="@Url.Content("~/js/createBuild.js")"></script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
